.contact--wrap
    section.contact-info.wow.fadeInLeft
        h1.title-section Say #[span Hello]
        h3.subtitle-section Don’t be shy, drop us an email and say hello! We are a really nice bunch of people :)
        .contact-link-list
            .contact-link--col
                a(href='#').contact-link__item
                    i(aria-hidden="true").fa.fa-mobile
                    span (416) 555-0000
                a(href='#').contact-link__item
                    i(aria-hidden="true").fa.fa-twitter
                    span @escape
                a(href='#').contact-link__item
                    i(aria-hidden="true").fa.fa-google-plus
                    span plus.com/escape
            .contact-link--col
                a(href='#').contact-link__item
                    i(aria-hidden="true").fa.fa-envelope
                    span hello@escape.com
                a(href='#').contact-link__item
                    i(aria-hidden="true").fa.fa-facebook-f
                    span facebook.com/escape
                a(href='#').contact-link__item
                    i(aria-hidden="true").fa.fa-pinterest-p
                    span pinterest.com/escape
    form.wow.fadeInRight
        input(type="text" placeholder="Your Name *" required)
        input(type="email" placeholder="Your E-mail *" required)
        textarea(name="message" cols="30" rows="8" placeholder="Your Message *" required)
