.features-list--wrapper
    .feature-list.wow.fadeInLeft
        .feature-list__item.clearfix
            span.feature-icon
                i(aria-hidden="true").fa.fa-male
            .feature-content
                h2.feature-title Branding & Identity
                h3.feature-text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .feature-list__item.clearfix
            span.feature-icon
                i(aria-hidden="true").fa.fa-clone
            .feature-content
                h2.feature-title Mobile App Development
                h3.feature-text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .feature-list__item.clearfix
            span.feature-icon
                i(aria-hidden="true").fa.fa-star
            .feature-content
                h2.feature-title UI/UX
                h3.feature-text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    .feature-list.wow.fadeInRight
        .feature-list__item.clearfix
            span.feature-icon
                i(aria-hidden="true").fa.fa-window-maximize
            .feature-content
                h2.feature-title Web & Graphic Design
                h3.feature-text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .feature-list__item.clearfix
            span.feature-icon
                i(aria-hidden="true").fa.fa-video-camera
            .feature-content
                h2.feature-title Animations
                h3.feature-text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .feature-list__item.clearfix
            span.feature-icon
                i(aria-hidden="true").fa.fa-camera
            .feature-content
                h2.feature-title Photography
                h3.feature-text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.