nav.header.clearfix
    a(href="#").main-menu-logo
        img(src='img/header__logo.png' width="139" height="28" alt='Escape logo image')
    ul.main-menu
        li.main-menu__item
            a(href="#" data-scroll).main-menu__item--link Home
        li.main-menu__item
            a(href="#features" data-scroll).main-menu__item--link Services
        li.main-menu__item
            a(href="#our-clients" data-scroll).main-menu__item--link Clients
        li.main-menu__item
            a(href="#our-team" data-scroll).main-menu__item--link Team
        li.main-menu__item
            a(href="#our-contact" data-scroll).main-menu__item--link Contact
    a(href="#").button--toggle