h1.title-section.wow.zoomIn Awesome #[span Clients]
h3.subtitle-section.wow.zoomIn See what nice things our clients said about us.
.feedback-list
    .feedback-list__item.clearfix
        span.feedback-img-profile.wow.fadeInLeft
            img(src="uploads/our-clients__pic-1.jpg" width="225" height="225" alt="profile img")
        p.feedback-content.wow.fadeInRight “ Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
            a(href="#").feedback-author - Jamie Richardson, Founder of Cocoa Media
    .feedback-list__item.clearfix
        p.feedback-content--pull-left.wow.fadeInLeft “ Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
            a(href="#").feedback-author - Bart Thompson, Founder of Rainel
        span.feedback-img-profile.feedback-img-profile--pull-right.wow.fadeInRight
            img(src="uploads/our-clients__pic-2.jpg" width="243" height="243" alt="profile img")