.partners-flex-wrap
    a(href="#").partners-link.wow.fadeInUp
        img(src="uploads/partners-logo-envato.png" width="153" height="30" alt="partners logo envato")
    a(href="#").partners-link.wow.fadeInUp
        img(src="uploads/partners-logo-wordpress.png" width="186" height="42" alt="partners logo wordpress")
    a(href="#").partners-link.wow.fadeInUp
        img(src="uploads/partners-logo-aetuts.png" width="131" height="41" alt="partners logo ae-tuts")
    a(href="#").partners-link.wow.fadeInUp
        img(src="uploads/partners-logo-microlancer.png" width="167" height="44" alt="partners logo microlancer")