h1.title-section.title-section--light.wow.zoomIn Amazing #[span Team]
h3.subtitle-section.subtitle-section--light.wow.zoomIn These wonderful people make work enjoyable.
.team-list
    .team-list__item.clearfix
        span.team-img-profile.wow.fadeInDown
            img(src="uploads/our-team__pic-kimberly.jpg" width="262" height="262" alt="profile img")
        .team-content.wow.fadeInUp
            h3.profile-info Kimberly Thompson #[span Marketer]
            span.profile-info--social
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-twitter
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-facebook
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-pinterest-p


    .team-list__item.clearfix
        span.team-img-profile.wow.fadeInDown
            img(src="uploads/our-team__pic-rico.jpg" width="257" height="257" alt="profile img")
        .team-content.wow.fadeInUp
            h3.profile-info Kimberly Thompson #[span Marketer]
            span.profile-info--social
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-twitter
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-facebook
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-pinterest-p
    .team-list__item.clearfix
        span.team-img-profile.wow.fadeInDown
            img(src="uploads/our-team__pic-uku.jpg" width="264" height="227" alt="profile img")
        .team-content.wow.fadeInUp
            h3.profile-info Kimberly Thompson #[span Marketer]
            span.profile-info--social
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-twitter
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-facebook
                a(href="#").social-link
                    i(aria-hidden="true").fa.fa-pinterest-p
p.decription-team Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.