.slider
    .slider__item
        img(src='uploads/slider__pic-1.jpg' width="1400" height="620" alt='slider image')
        .slider-info
            h1.slider-info__title Can you build the website of my dreams?
            h3.slider-info__subtitle Yup, we can do that.
            a(href='#').slider-info__btn Learn More
    .slider__item
        img(src='uploads/slider__pic-1.jpg' width="1400" height="620"  alt='slider image')
        .slider-info
            h1.slider-info__title Can you build the website of my dreams?
            h3.slider-info__subtitle Yup, we can do that.
            a(href='#').slider-info__btn Learn More
    .slider__item
        img(src='uploads/slider__pic-1.jpg' width="1400" height="620"  alt='slider image')
        .slider-info
            h1.slider-info__title Can you build the website of my dreams?
            h3.slider-info__subtitle Yup, we can do that.
            a(href='#').slider-info__btn Learn More