extends layout.pug
block header
    include includes/header.pug
block slider
    include includes/slider.pug
block features
    include includes/feauters.pug
block clients
    include includes/our-clients.pug
block partners
    include includes/our-partners.pug
block team
    include includes/our-team.pug
block contact
    include includes/contact.pug
block footer
    include includes/footer.pug